/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

nav {
    margin-bottom: 1em;
}

header {
    margin: .2rem, .5rem 0;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
    color: rgb(249, 247, 241);
    font-family: pelago, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0.5em;

}
nav ul li a:hover {
    color: rgb(255, 215, 195);
}


a {
    text-decoration: none;
}

body {
    text-decoration: none;
    font-family: pelago, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(64, 112, 118);
}

figure {
    /* margin: 1em 0 0.5em; caused unleveling at the top*/
    margin: 0;
}

h1 {
    /* width: 7em; */
    width: 12em;
    margin: 1em 0.5em;
}

h2 {
    font-family: "linotype-didot", serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 2em;
    /* font-weight: bold; */
    /* color:  rgb(255, 215, 195); */
    color: rgb(223, 228, 201);
    margin-left: 0.2em;
    padding: 0.1em 0 0.3em;
}

        section.mainstory h2 {
            font-size: 3em;
            }
        
        section.mainstory p {
             margin: 0 0.5em 2em;
        }
        
        section.secondary-story p {
            margin: 0 0.5em 2em;
        }

        section.tertiary-story h2 {
            font-size: 1.5em;
            /* margin: 0.3em; this didn't level with the top part*/
            padding-top: 0.3em;
            border-top: solid 1px rgb(255, 215, 195);
        }
        section.tertiary-story p {
            margin: 0.2em 0.5em 2em;
        }

p {
    color: rgb(249, 247, 241);
    line-height: 1.5em;
    margin: 0em 0.5em;
    margin: .2rem, .5rem 0;

}

article h2 {
    font-size: 3em;
    padding-bottom: 0.5em;
}

aside {
    /* background-color: rgb(185, 185, 185); */
    padding: 0 0.5em 0.5em;
}

aside h2 {
    font-size: 1.5em;
    margin-left: 0.4em;
    color: rgb(255, 215, 195);
    padding-top: 0.5em; /* added */


}
    
aside p {
    padding-bottom: 0.5em;
}
 div.container, div.home-container {
        max-width: 40em;
        margin: auto;
}
div.gallery-container{
    max-width: 60em;
    margin: auto;
}
div.news-container{
    max-width: 40em;
    margin: auto; 
}


footer {
    background-color: rgb(249, 247, 241);
    padding:0.5em;
    box-sizing: border-box;
}

footer p {
    color: rgb(64, 112, 118);
}

figcaption {
    font-family: pelago, sans-serif;
    font-weight: 400;
    font-style: italic;
    color:rgb(223, 231, 229);
    /* margin: 0.4em 0em 1em 0.5em; fixed below*/
    margin: .2rem .5rem 1em;
}

article p {
    margin-bottom: 0.5em;
}


/*gallery code*/

div.gallery {
    max-width: 60em;
    margin: 0 auto;
    padding: 0.5em;
}

div.gallery h2 {
    margin-bottom: 1em;
    font-size: 1.5em;
}
div.gallery article {
    position: relative; /*change*/
    overflow: hidden; /*change*/
    padding-bottom: calc(82% + 3em); /*change*/
}

div.gallery figure{
    margin: 0;
    width: calc(100%-2em);
    position: absolute; /*change*/
    opacity: 0; /*change*/
    transition: 0.5s; /*change*/
}

div.gallery img {
    width: 100%;
}

 div.gallery figcaption {
    font-family: pelago, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    font-style: italic;
    color:rgb(223, 231, 229);
    /* margin: 0.4em 0em 1em 0.5em; fixed below*/
    margin: .2rem 0em 1em;

}


input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1; /*change*/
}

div.gallery nav {
    display: grid; /*change*/
    grid-template-columns: repeat(8, 1fr); /*change*/
    grid-gap: 0.2em; /*change*/

}

div.gallery input {
    display: none; 
}

/*end of gallery code*/


/*Form code*/

form {
     background-color: rgb(223, 231, 229);
     padding: 1em;
}

section.personal-info h2 {
    color:rgb(64, 112, 118);
}

div.subscription {
    display: grid;
    background-position: center;
    padding: calc(10% + 1em);
    max-width: 100%;
}

section.personal-info h3, section.contact h3 {
    color:rgb(64, 112, 118);
    padding-top: 0.6em;
}

section.personal-info ul li {
	flex: 1 0 10em;
	padding: 0.5em 0em;
	display: flex;
	flex-wrap: wrap;
}
section.personal-info ul li label{
	flex: 0 0 3.5em;
}

section.personal-info ul li input[type="name"],
section ul li input[type="email"],
section ul li select {
	flex: 4 0 20em;  
	box-sizing: border-box;
}
section.contact ul li {
	margin: 0.2em 1em 0 0;
	flex: 0 0 6em;
}

section.contact ul {
	display: flex;
	flex-wrap:wrap;
	margin-bottom: 2em;
    padding: 0;
	list-style-type: none;
}

section.contact p {
    color: rgb(6, 6, 6);
    margin: 0em;
}

textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 4em;
	background: #fcfcfc;
	border: 1px solid #e8e8e8;
	padding: 0.4em;
	font-family: sans-serif;
	color: #777;
	}


/*end of form code*/


@media screen and (min-width: 40em) {
    nav ul li {
        display: inline;
        margin-right: 1em;
        margin-left: 0em;
    }

    h1 {
        margin-left: 0em;
    }
    
    h2 {
        margin-left: 0em;
    }
    aside h2 {
        margin-left: 0em;
    }
     
    section.secondary-story p {
        margin-left: 0;
    }

    section.tertiary-story h2 {
        margin-left:0;
    }
    section.tertiary-story p {
        margin-left: 0;
    }
    
    section.mainstory p {
        margin-left: 0;
   }
   
   p {
    margin: 0em;
    }

   figcaption {
    margin: 0.2em 0em 1em 0em;
    }
}

@media only screen and (min-width: 60em) {
    div.home-container {
        max-width: 80em;
        padding: 0 1em; 
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 0 1em; 
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }
    div.gallery-container {
        max-width: 80em;
        padding: 0 1em; 

    }

    div.news-container {
        max-width: 80em;
        padding: 0 1em; 

    } 
   

    header, footer { 
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
            background: none; 
            padding: 0;
            margin-top: 0;
        }

    div.container aside {
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em; 
    }


    section.secondary-story {
        display: flex;
    }

    section.secondary-story a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary-story a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary-story a figure img {
        object-fit: cover;
    }

    section.secondary-story a h2 {
        flex: 0 0 1em;
    }

    section.secondary-story a p {
        flex: 0 0 4em; 
    }

    div.gallery article {
    position: relative; 
    overflow: hidden;
    padding-bottom: calc(74% + 3em); /*change*/
}

}

@media screen and (prefers-color-scheme: light) {

    h1 {  
    background-image: url("hellonihonlightlogo.svg");  
    background-repeat: no-repeat;  
    background-size: contain;  
    }  

    h1 img {  
    opacity: 0;  
    } 

    body {
            background-color: rgb(249, 247, 242);
            /* background color */
    }

    nav ul li a:hover {
    color: rgb(222, 121, 88);
    /* hover state color */
    }

    nav ul li a, h2, p, div.gallery figcaption{
    color:  rgb(64, 112, 118);
    /* navigation tab colors*/
    }

    section.tertiary-story h2 {
            border-top: solid 1px rgb(222, 121, 88);
        }

    aside h2 , aside p {
        color:  rgb(222, 121, 88);
    }

    
    footer, form {
    background-color: rgb(64, 112, 118);
    }

    footer p, ul li label, section.personal-info h2 {
    color: rgb(249, 247, 242);
    }

    figcaption {
    color: rgb(157, 159, 118)
    }

    section.personal-info h3, section.contact h3 {
    color: rgb(255, 215, 195);
    /* in the form */
    }

    section.contact p {
    color: rgb(249, 247, 242);
    }

textarea {
	background: #fcfcfc;
	border: 1px solid #e8e8e8;
	color: #777;
	}
}


